body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color: #090B0B;
}
/* ===== HEADER ELEMENTS ===== */
header,
footer {
    background-color: #090B0B;
    color: #fffffc;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

img {
    padding: 20px 20px;
    /*Isabelle note-> I looked up how to resize images on w3schools because it was unclear to me, and this was the result I was given. This may not be your preferred method for this class, so please let me know what might be best*/
    display: block;
    margin: auto;
    width: 90%;
}
.date-time {
    color: #df4601;
    text-transform: uppercase;
    font-weight: bold;
}

/* ===== MAIN CONTENT ===== */
h1 {
    color: #fffffc;
    font-weight: bold;
}

h2 {
    color: #df4601;
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 15px;
}

h3 {
    font-weight: bold;
    font-size: 1.15em;
}

main {
    margin: 20px 20px;
    padding: 20px;
}
/* ===== TICKETS AND LINKS ===== */
a {
    color: #090B0B;
    font-weight: bold;
}

.intro {
    font-size: 1.25em;
}

.tickets {
    line-height: 2;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tickets a {
    display: inline-block;
    margin: 5px 5px;
    padding: 10px 5px;
    background-color: #090B0B;
    text-decoration: none;
    color: #fffffc;
}

.game-details {
    background-color: #df4601;
    color: #fffffc;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
/* ===== FAQ ===== */
.faq {
    border-left: 5px solid #df4601;
    padding: 20px;
}